@use "./variables" as *;

@mixin card {
  background: var(--surface);
  border: 1px solid rgba(0,0,0,.06);
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 4px 18px rgba(0,0,0,.05);

  [data-theme="dark"] & {
    border-color: rgba(255,255,255,.06);
  }
}

@mixin input {
 border-radius: $radius;
  width: 100%;
  background: var(--surface);
  color: var(--text);
  border: 1px solid #e5e7eb;
  border-radius: $radius;
  padding: 10px 12px;
  outline: none;
  transition: .2s;

  &:focus {
    box-shadow: 0 0 0 4px var(--ring);
    border-color: transparent;
  }

  [data-theme="dark"] & {
    border-color: #253055;
  }
}
